rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function approved(userId) {
      return request.auth != null
        && request.auth.uid == userId
        && firestore.exists(
          /databases/(default)/documents/approvedUsers/$(userId)
        )
        && firestore.get(
          /databases/(default)/documents/approvedUsers/$(userId)
        ).data.enabled == true;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if approved(userId);
    }
  }
}
